.card{
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    /* padding: 1rem; */
    /* The CSS overflow property controls what happens to content that is too big to fit into an area. With the hidden value, the overflow is clipped, and the rest of the content is hidden: */
    overflow: hidden;
    /* The background shorthand CSS property sets all background style properties at once, such as color, image, origin and size, or repeat method. Component properties not set in the background shorthand property value declaration are set to their default values. */
    /* background: white; */
}