.side-drawer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    background: white;
    box-shadow: 0 2px 8px rgba(0 , 0, 0, 0.26);
    overflow-y: hidden;
    /* width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

/* side drawer not working as expected - items are side by side and are not visible because of white font color */
/* also the width is more than expected as the main page is not visible because of the drawer */